# Node
node_modules/
.npm/

# Firebase
.firebase/
firebase-debug.log

# Python
llm-pipeline/venv/
llm-pipeline/__pycache__/
llm-pipeline/*.pyc
.env

# Secrets
serviceAccountKey.json

# OS
.DS_Store
js/config.js
